
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2E31;
  transition: all 1.5s ease;
  box-sizing: border-box;
}
.wrap{
  margin: 0 auto;
  padding: 0px 100px;
  max-width: 1440px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

header{
  height: 20%;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

#N{
  width: 70px;
  top:0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

#N:hover{
  width: 80px;
  cursor: url('cursor.png'), auto;
}

#corp{
  display: flex;
  height: 100%;
  position: relative;
  width: 10px;
  left: 45%;
  transition: all 1s ease;
}

#corp.active{
  width: 100%;
  left: 0;
}

#corp .member{
  display: flex;
  position: relative;
  height: 50%;
  width: auto;
  transition: all 1s ease;
}

#corp .member .jaune{
  display: flex;
  align-items: center;
  position: relative;
}

#corp .member .jaune svg{
  z-index: 0;
}

#corp .member .jaune svg text{
  z-index: 2;
}

#corp .member .jaune p{
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  padding-right: 50px;
  bottom: 85%;
  transform: rotate(-72deg);
  z-index: 1;
  opacity: 0;
  width: 30%;
  height: 10%;
  transform-origin: 50%;
}

#corp .member svg{
  width: auto;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  left: 0;
}

#corp .member:hover svg{
  height: 145%;
  transform: translateY(-40px);
}

#corp .member:hover .jaune{
  transform: translateX(-25px);
  transition: all 0.5s ease;
}

#corp .member:hover .jaune p{
  opacity: 1;
  transition: all 1.5s ease;
}
