
#globalwrap{
    font-family: 'Montserrat', sans-serif;
    background-color: #2B2E31;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;


    #agence{
      position: absolute;
      display: flex;
      width: 100vw;
      height: 100vh;
      align-items: center;
    }

    #agence #agence_img{
      transform: translateY(-5%);
      width: 100%;
      height: auto;
      z-index: 0;
      opacity: 0.4;
    }

    #wrap_a{
      margin: 0 auto;
      padding: 0px 100px;
      max-width: 1440px;
      height: calc(100vh - 100px);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease 0.5s;
      opacity: 1;
      z-index: 1;
    }

    #wrap_a.remove{
      opacity: 0;
    }

    header{
      display: flex;
      height: 50%;
      justify-content: center;
      width: 100%;
    }

    #N{
      width: 70px;
      top: 0;
      transform: translateY(-10px);
      transition: all 0.3s ease;
      z-index: 2;
    }

    #N:hover{
      cursor: url('cursor.png'), auto;
    }


    #corp{
      z-index: 2;
      display: flex;
      height: 100%;
      position: relative;
      width: 10px;
      transition: all 0.7s ease;
      left: -30px;
      align-items: center;
    }

    #corp .default{
      display: flex;
      position: relative;
      height: 60%;
      width: auto;
      transition: all 0.2s ease;
    }

    #corp .default img{
      width: auto;
      height: 100%;
      position: absolute;
      transition: all 0.5s ease;
      top: 5px;
      padding: 0 15px;
      transform: rotate(17deg);
      z-index: 50;
    }

    #corp.active{
      width: 80%;
      left: 0;
    }


    #corp .member{
      display: flex;
      position: relative;
      height: 50%;
      width: auto;
      transition: all 0.5s ease;
    }


    #corp .member .noir{
      z-index: 2;
      transition: all 0.5s ease;
      transform: rotate(17deg);
    }

    #corp .member .noir img{
      width: auto;
      height: 100%;
      position: absolute;
      transition: all 0.5s ease;
      left: 0;
      padding: 0 15px;
    }

    #corp .member .noir img.active{
      transform: translateX(1000px);
    }


    #corp .member .jaune{
      z-index: 0;
      align-items: center;
      position: relative;
      transition: all 0.7s ease;
      opacity: 0;
      text-align: left;
    }

    #corp .member .jaune svg{
      width: auto;
      height: 100%;
      position: absolute;
      transition: all 0.7s ease;
    }

    #corp .member .jaune svg.active{
      transform: translateX(-1000px);
    }


    #corp .member .jaune p{
      position: absolute;
      font-size: 22px;
      transform: rotate(-90deg) translateY(50%);
      z-index: 1;
      width: 100%;
      transform-origin: center;
      top: 60%;
      left: 12px;
    }

    /*PARTIE FOCUS SUR UN MEMBRE*/

    #focus{
      width: 200%;
      height: 200%;
      position: absolute;
      transform: rotate(15deg);
      left: -50%;
      top: -50%;
      display: block;
      transition:all 1s ease 0.7s;
    }



    #focus .right{
      background-color: black;
      width: 50%;
      float: right;
      height: 100%;
      transform: translateX(60%);
      transition: all 0.4s ease 0.5s;
      color: white;
      position: relative;
      z-index: 1;
    }

    #focus .right.active{
      transform: translateX(0);
      z-index: 1;
    }

    #focus .left{
      background-color: #eace2b;
      width: 50%;
      float: left;
      height: 100%;
      transform: translateX(-60%);
      transition: all 0.4s ease 0.5s;
      opacity: 0;
    }

    #focus .left.active{
      transform: translateX(0);
      opacity: 1;
    }

    #photos{
      transform: rotate(-15deg);

    }

    #photos img{
      width: 60%;
      z-index: 0;
      transform: translate(70%, 50%);
      border: 2px solid black;
    }

    .content_all{
      transform: rotate(-15deg);
      position : relative;
      top: 20%;
      left: -50%;
      height: 100%;
      width: 100%;
    }

    .content_all.active{
      left: 0%;
    }

    #antoine, #anais, #bertrand, #carla, #elina, #oriane, #nathan, #louise, #lola, #lucile, #thomas, #simon, #yann, #vincent{
      position: absolute;
      display: none;
    }

    .content{
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      justify-content: space-between;
      position: relative;
    }

    .cross{
      position: absolute;
      width: 1%;
      height: auto;
      right: 49%;
      top: -12.5%;
      padding: 5px 5px;
      transition: all 0.3s ease;
      z-index: 900;
      border-radius: 50%;
    }

    .cross:hover{
      background-color: #4EC2F0;
      cursor: pointer;
    }

    .bars h1{
      text-transform: uppercase;
      font-size: 26px;
      font-weight: bold;
      transform: translateX(50%);
      margin-bottom: 12%;
    }

    .bars{
      transform: translateX(6%);
      display: flex;
      flex-direction: column;
      max-width: 45%;
      margin-bottom: 5%;
    }

    .bars div{
      display: flex;
      justify-content: space-between;
    }

    .bars div p{
      display: flex;
      text-align: right;
      font-size: 100%;
      z-index: 1;
      transform: translateY(-3px);
    }

    .progress{
      width: 35%;
      max-width: 300%;
      background-color: grey;
      height: 10px;
      margin-bottom: 10%;
      border-radius: 5px;
      transform: translateX(80%);
      position: relative;
      border: 1px solid white;
    }

    .skill_1, .skill_2{
      width: 1%;
      background-color: #4EC2F0;
      height: 100%;
      border-radius: 5px;
      position: absolute;

    }

    @keyframes wheelHueColor {
      from, to { background-color: hsl(179, 100%, 50%); }

      50%      { background-color: hsl(58, 100%, 50%); }
    }

    .skill_spec{
      width: 1%;
      height: 100%;
      border-radius: 5px;
      animation: wheelHueColor 0.4s infinite;
      position: absolute;
    }

    #vert{
      animation: none;
      z-index: 0;
      background-color: green;
    }
    #beber{
      color: green;
      font-weight: bold;
    }


    .description{
      font-size: 16px;
      width: 35%;
      transform: translateX(40%);
      word-spacing: 3px;
      line-height: 20px;
    }


    .description a{
      color: #eace2b;
      font-weight: bold;
    }
}
